body {
    margin: 0;
}

.header {
    margin: 0;
    background: #6da5ff;
    height: 150px;
    text-align: center;
    border-bottom: 25px solid #DDDDDD;
}

.filters {
    margin: 20px 100px;
    text-align: center;
}

.filterbutton {
    margin: 0;
    font-size: 1.2em;
    font-family: "Ume Gothic";
    color: #DDDDDD;
    background: #6da5ff;
    border: solid 2px #DDDDDD;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 20px;
}

.filterbutton:hover {
    color: #6da5ff;
    background: #DDDDDD;
    border-color: #6da5ff;
}

#headertext {
    margin: inherit;
    font-size: 5em;
    color: #DDDDDD;
    font-family: "Andale Mono";
    padding-top: 30px;
}

.vehiclecontainer {
    height: 300px;
    background: #eeeeee;
    padding: 25px 20px;
    margin: 30px 10px 10px 10px;
    border: 2px solid #0061ff;
    border-radius: 3px;
}

.vehiclename, .vehicleyear, .vehicledescription {
    color: #00415d;
}

.vehiclename {
    font-size: 2em;
    font-family: "Ubuntu Mono";
}

.vehiclename:hover {
    text-decoration: none;
}

.vehicleyear {
    float: right;
    display: inline;
}

.vehicleimage {
    width: 300px;
    height: 220px;
    margin: 10px 10px 20px 0;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}

.vehicledatacontainer {
    padding: 0;
}

#logo {
    width: 50%;
    font-size: 3.5em;
    color: #0061ff;
    float: none;
    font-family: "Abyssinica SIL";
    text-decoration: none;
}

#logo:active, #logo:hover {
    text-decoration: none;
}

.userfunc-container {
    padding: 7px 5px;
    text-align: right;
    float: right;
}

#userfunc-username {
    padding-top: 5px;
    color: #DDDDDD;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    padding-right: 15px;
}

#userfunc-username:hover {
    text-decoration: underline;
}

.navbrand {
    padding-top: 25px;
    text-align: center;
    height: 130px;
}

.navcontent {
    background-color: #5681ff;
}

#navigationbar {
    background: #DDDDDD;
}