@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:300,400,700&subset=latin-ext');

body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ddd;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.jumbotron {
    background-color: #59B2E0;
    color: #333;
}

.error-message {
    color: darkred;
    margin-top: 30px;
    margin-bottom: 0;
}

/* Main page styles
 ******************/

.header {
    margin: 0;
    background: #6da5ff;
    height: 150px;
    text-align: center;
    border-bottom: 25px solid #DDDDDD;
}

.filters {
    margin: 20px auto;
    text-align: center;
}

.filterbutton {
    font-size: 1.2em;
    font-family: "Roboto", sans-serif;
    color: #fff;
    background-color: #53A3CD;
    border: 2px solid #53A3CD;
    border-radius: 4px;
    text-decoration: none;
    padding: 5px 20px;
    margin: 1px;
}

.filterbutton:hover,
.filterbutton:focus {
    color: #6da5ff;
    background-color: #eee;
    border: 2px solid #eee;
    text-decoration: none;
}

.activefilter {
    border: 2px solid #6da5ff;
    background-color: #eee;
    color: #6da5ff;
}

.vehiclecontainer {
    background: #fff;
    padding: 20px 20px;
    margin: 30px 10%;
    /*border: 2px solid #0061ff;*/
    /*box-shadow: 0 0 5px #999;*/
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: all 0.1s linear;
}

.vehiclecontainer:hover {
    box-shadow: 0 2px 10px #999;
}

.vehiclename, .vehicleyear, .vehicledescription {
    /*color: #00415d;*/
    color: #555;
}

.vehiclename {
    font-size: 2em;
    font-family: "Roboto", sans-serif;
}

.vehiclename:hover {
    text-decoration: none;
}

.vehicleyear {
    float: right;
    display: inline;
}

.vehicleimage {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 10px 10px 20px 0;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}

.vehicledatacontainer {
    padding: 10px;
}

#logo {
    width: 50%;
    font-size: 3.5em;
    color: #4784b2;
    float: none;
    font-weight: 700;
    font-family: "Raleway", serif;
    text-decoration: none;
}

#logo:active, #logo:hover {
    text-decoration: none;
}

.userfunc-container {
    padding: 10px 10px;
    text-align: right;
    float: right;
}

#userfunc-username {
    padding-top: 5px;
    color: #DDDDDD;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    padding-right: 15px;
}

#userfunc-username:hover {
    text-decoration: underline;
}

.navbrand {
    padding-top: 25px;
    text-align: center;
    height: 130px;
}

.navcontent {
    background-color: #4784b2;
}

#navigationbar {
    background: #DDDDDD;
}

/* Details page styles
 *********************/

.headeranchor {
    text-decoration: none;
}

.headeranchor:active {
    text-decoration: none;
}

#headertext {
    font-size: 3em;
    color: #555;
    font-family: "Roboto", sans-serif;
    padding-top: 10px;
    margin: 0 10%;
}

.vehicledetail {
    font-size: 1.3em;
    color: #555;
    font-family: "Roboto", sans-serif;
}

/* Form styles
***************/

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login > .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel-login > .panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login > .panel-heading a.active {
    color: #029f5b;
    font-size: 18px;
}

.panel-login > .panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

.forgot-password {
    text-decoration: underline;
    color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

/* Custom Styles
******************/

input[type]:not([type=submit]):focus {
    outline: none;
    border: 1px solid #53A3CD;
    background-color: white;
    box-shadow: 0 0 1px 0 #53A3CD;
}

.picture-link,
.user-profile-pic,
.upload-profile-pic,
.cancel-profile-pic,
.change-pic {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.change-pic {
    visibility: hidden;
}

.user-profile-pic-link:hover .change-pic {
    visibility: visible;
}

.btn .upload-profile-pic {
    background-color: #53A3CD;
}

.picture-link {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.upload-vehicle-button {
    margin: 20px 0;
    font-size: 16px;
    width: 100%;
}

.upload-input {
    width: 100%;
    margin-bottom: 10px;
}

#upload-header {
    margin-bottom: 50px;
}

label {
    font-weight: 400;
}

.reserve-button {
    font-size: 16px;
}

.reservation-form {
    margin-top: 20px;
}

.reservation-input {
    margin: 0 auto;
}

.reservation-label {
    margin-top: 10px;
}

img.profile-pic {
    width: 100%;
    max-width: 125px;
    max-height: 125px;
}

h3 {
    font-size: 1.5em;
}

.equal {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-end;
    align-content: flex-end;
    justify-content: space-around;
}

.card {
    color: #333;
    background-color: #fff;
    margin: 20px 20px;
    padding: 20px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.1s linear;
}

a.card:hover {
    text-decoration: none;
    box-shadow: 0 5px 15px #999;
}

@media (min-width: 768px) {
    .upload-form-container {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .text-center-sm {
        margin: 0 auto;
    }

    .text-center-small {
        text-align: center;
    }

    #headertext {
        margin: 0;
    }

    .sidebar {
        margin-bottom: 30px;
    }

    .container {
        margin: 0 0;
    }

    .vehiclename {
        font-size: 1.5em;
    }
}
@media (max-width: 1024px) {
    .vehicleimage-sm {
        width: 100%;
        overflow: hidden;
        margin: 10px 10px 20px 0;
    }
}

div#map-container {
    min-width: 700px;
    overflow: hidden;
    height: 600px;
}

@media (max-width: 400px) {
    .container {
        margin: 0 0;
    }
}

#card-number::-webkit-inner-spin-button,
#card-exp-month::-webkit-inner-spin-button, #card-exp-year::-webkit-inner-spin-button,
#card-exp-month::-webkit-outer-spin-button, #card-exp-year::-webkit-outer-spin-button,
#card-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#card-exp {
    margin-top: 15px;
}

#card-exp-year, #card-exp-month {
    width: 3.85em;
}

#card-exp-year, #card-exp-month, #card-sec-code {
    display: inline;
    text-align: center;
}


#card-sec-code {
    width: 3em;
}

#expiration-date, #card-sec-code-label {
    color: #00415d;
    font-weight: bold;
    font-family: "Raleway", serif;
}

#paypal-info, #card-info {
    text-align: center;
    vertical-align: center;
}

#paypal-login-button {
    margin-top: 15px;
}

.billing-panel {
    padding: 30px 20px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.payment-picker > label {
    margin-left: 70px;
}


.payment-picker {
    text-align: center;
    padding-right: 75px;
}

.payment-logo {
    height: 50px;
    width: auto;
    cursor: pointer;
}

#card-info {
    display: none;
}