<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/mainpage.css" />

    <title>Carshare</title>
</head>

<body>
    <div class="header">
        <a class="headeranchor" href="/">
            <h1 id="headertext">Carshare</h1>
        </a>
    </div>
    <div class="container">
        <div>
            <div class="row">
                <div class="well vehiclecontainer">
                    <a class="vehiclename col-md-8" th:text="${vehicle.name}"></a>
                    <p class ="vehicleyear col-md-4" th:text="${vehicle.year}">
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>