<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
    <nav th:replace="header :: nav"></nav>
    <div class="container">
        <div class="filters">
            <a class="filterbutton" th:each="type : ${types}" th:href="'/?type='+${type.string}" th:text="${type.string}"></a>
        </div>

        <div th:each="vehicle : ${vehicles}">
            <div class="">
                <div class="well row vehiclecontainer">
                    <a class="vehiclename col-md-8" th:text="${vehicle.name}" th:href="'/vehicles/'+${vehicle.id}"></a>
                    <p class ="vehicleyear col-md-4" th:text="${vehicle.year}">
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>