<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: head"></head>

<body>
    <nav th:replace="header :: nav"></nav>
    <div class="container">
        <div class="filters">
            <a class="filterbutton" th:each="type : ${types}" th:href="'/?type='+${type.string}" th:text="${type.string}"></a>
        </div>

        <div th:each="vehicle : ${vehicles}">
            <div class="row">
                <div class="well vehiclecontainer">
                    <div class="col-md-4 vehicledatacontainer">
                        <a th:href="'/vehicles/' + ${vehicle.id}"><img class="vehicleimage" th:src="${vehicle.picture}"></a>
                    </div>
                    <div class="col-md-8 vehicledatacontainer">
                        <a class="vehiclename" th:text="${vehicle.name}" th:href="'/vehicles/' + ${vehicle.id}"></a>
                        <p class ="vehicleyear" th:text="${vehicle.year}"></p>
                        <p>
                            <a class="seemore" th:href="'/vehicles/' + ${vehicle.id}">See more</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>