<!DOCTYPE html>
<html lang="en" xmlsn="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
<nav th:replace="header :: nav"></nav>
<div class="container fluid text-center-sm">
    <div class="">
        <h1> Upload new vehicle </h1>
    </div>
    <div class="row">
        <form action="/upload" method="post">
            <div class="sidebar col col-sm-2">
                <img width="125px" height="125px" src="/default_pic.jpg">
                <h2 th:text="${user.name}"> My name </h2>
                <h4> My messages </h4>
                <h4> My contacts </h4>
                <h4> My reviews </h4>
            </div>
            <div class="col-sm-5 upload-form">
                <div>
                    <h3> Name of your vehicle </h3>
                    <input name="name" type="text" class="upload-input" placeholder="Name of vehicle">
                </div>
                <div>
                    <h3> Year </h3>
                    <input name="year" type="text" class="upload-input" placeholder="Year">
                </div>
                <div>
                    <h3> Number of seats </h3>
                    <select name = "numofseats" th:default="4">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                    </select>
                </div>
                <div>
                    <h3> Type of your vehicle </h3>
                    <select name="type">
                        <option value="Bike"> Bike</option>
                        <option value="Car"> Car</option>
                        <option value="Motor"> Motorcycle</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-5 upload-form">
                <div>
                    <h3> Availability </h3>
                    <label for="startDate"> Start date </label>
                    <input name="startDate" id="startDate" class="upload-input" type="date">
                    <label for="endDate"> End date </label>
                    <input name="endDate" id="endDate" class="upload-input" type="date">
                </div>
                <div>
                    <h3>Upload a pic</h3>
                    <input name="piclink" type="text" class="upload-input" placeholder="Copy the URL of your picture here">
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <input type="submit" class="btn btn-info upload-vehicle-button">
        </div>
    </div>
</div>
</body>
</html>