<!DOCTYPE html>
<html lang="en" xmlsn="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
<nav th:replace="header :: nav"></nav>
<div class="jumbotron text-center">
    <h1> Upload new vehicle </h1>
</div>
<div class="container fluid">
    <div class="row">
        <aside class="sidebar col col-lg-2">
            <img width="125px" height="125px" src="/default_pic.jpg">
            <h2> My name </h2>
            <h4> My messages </h4>
            <h4> My rides </h4>
            <h4> My contacts </h4>
            <h4> My reviews </h4>
        </aside>
        <article class="row list-group col col-lg-10">
            <form action="/upload" method="post">
                <div>
                    <h3> Enter the name of your vehicle </h3>
                    <input name="name" type="text" placeholder="Name of vehicle">
                </div>
                <div>
                    <h3> Enter year </h3>
                    <input name="year" placeholder="Year">
                </div>
                <div>
                    <h3> Enter number of seats </h3>
                    <select name = "numofseats" th:default="4">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                    </select>
                </div>
                <div>
                    <h3> Select the type of your vehicle </h3>
                    <select name="type">
                        <option value="Bike"> Bike</option>
                        <option value="Car"> Car</option>
                        <option value="Motor"> Motorcycle</option>
                    </select>
                </div>
                <div>
                    <h3>Upload a pic</h3>
                    <input name="piclink" type="text" placeholder="Copy the URL of your picture here">
                    <input type="submit">
                </div>
            </form>
        </article>
    </div>
</div>
</body>
</html>