<!DOCTYPE html>
<html lang="en" xmlsn="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
    <nav th:replace="header :: nav"></nav>
    <div class="container">
        <div class="row">
            <aside class="sidebar col col-md-4">
                <div>

                    <img margin="auto" width=300px height="300px" name="profilepic"
                             th:attr="src=${profilePicture.profilePicture}">

                    <div th:unless="${profilePicture.profilePicture} == '/default_picture.jpg'">
                        <form action="/profile", method="post">
                            <input type="text" name="profilePicture" placeholder="Upload your profile picture's link">
                            <input type="submit" value="I want to upload this">
                        </form>
                    </div>
                    <div>
                        <h3 th:text="${user.name}"> Name here </h3>
                    </div>
                    <div>
                        <form action="/upload">
                            <input type="submit" value="Upload new vehicle">
                        </form>
                    </div>

                </div>
            </aside>
            <article class="col-md-8 row    ">
                <h1> My vehicles </h1>
                <div class="col-md-6 text-center" th:each="vehicle : ${user.vehicles}">
                    <div th:if="${vehicle} != null">
                        <img class="vehicle_image" src="http://placehold.it/400x250/000/fff"
                             th:attr="src=${vehicle.picture}" width="200px">
                        <p th:text="${vehicle.name}"></p>
                        <p th:text="'Year: ' + ${vehicle.year}"></p>
                        <p th:text="'Number of seats: ' + ${vehicle.numOfSeats}"></p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</body>
</html>